.title{
  font-family: 'Gasoek One', sans-serif;
  display: flex;
  letter-spacing: 0.2px;
  font-weight: 200;
  justify-content: center;
  margin-top: auto;
  font-size: 100px;
  margin-bottom: 0.7rem;
}
.tagline{
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;

}

.intro{
  display: flex; 
  justify-content: center;
  font-family: 'Inter', sans-serif;
  text-align: center;

}